---
import Hero from "../components/Hero.astro";
import Schedule from "../components/Schedule.astro";
import Features from "../components/Features.astro";
import Design from "../components/Design.astro";
import App from "../components/App.astro";
import Reviews from "../components/Reviews.astro";
import FAQs from "../components/FAQs.astro";
import PreOrder from "../components/PreOrder.astro";
import Footer from "../components/Footer.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout
  title="Amber - Your sleep rhythm, revealed"
  description="Reclaim your rhythm with Amber. Advanced bio-sensing technology hidden inside natural materials for your best sleep ever."
>
  <main>
    <Hero />
    <Schedule />
    <Features />
    <Design />
    <App />
    <Reviews />
    <FAQs />
    <PreOrder />
  </main>
  <Footer />
</Layout>
