---
import Hero from "../components/Hero.astro";
import Schedule from "../components/Schedule.astro";
import "../styles/global.css";

// Welcome to Astro! Wondering what to do next? Check out the Astro documentation at https://docs.astro.build
// Don't want to use any of this? Delete everything in this file, the `assets`, `components`, and `layouts` directories, and start fresh.
---

<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Welcome to Astro</title>
  </head>
  <body>
    <Hero />
    <Schedule />
  </body>
</html>
