---
import { Image } from "astro:assets";
import logoFooter from "../assets/pictures/logo-footer.png";
const currentYear = new Date().getFullYear();
---

<footer class="bg-button-secondary pt-xl pb-lg px-container overflow-hidden">
    <div class="flex flex-col gap-xl">
        <Image src={logoFooter} alt="Logo Footer" class="h-full w-full" />

        <div
            class="w-full flex flex-col md:flex-row justify-between md:items-center gap-md md:gap-0"
        >
            <div class="flex flex-row justify-between order-3 md:order-1">
                <p
                    class="body-sm text-text-secondary-invert uppercase font-semibold"
                >
                    © {currentYear} AMBER LAMP<span class="hidden md:inline"
                        >, INC</span
                    >
                </p>

                <p
                    class="body-sm text-text-secondary-invert uppercase font-semibold md:hidden"
                >
                    DESIGN BY CELAYA
                </p>
            </div>

            <p
                class="body-sm text-text-secondary-invert uppercase font-semibold order-1 md:order-2"
            >
                TERMS OF USE
            </p>

            <p
                class="body-sm text-text-secondary-invert uppercase font-semibold order-1 md:order-2"
            >
                PRIVACY POLICY
            </p>

            <p
                class="body-sm text-text-secondary-invert uppercase font-semibold order-4 hidden md:inline"
            >
                DESIGN BY LAURA CELAYA
            </p>
        </div>
    </div>
</footer>
