---
import { Image } from "astro:assets";
import desktopBg from "../assets/pictures/hero-desktop-image.png";
import mobileBg from "../assets/pictures/hero-mobile-image.png";
import logoAmber from "../assets/pictures/logo-amber.png";
import Button from "./Button.astro";
---

<section class="md:px-md">
  <div
    class="hero-container relative w-full h-4xl flex flex-col gap-5xl md:justify-between overflow-hidden pt-2xl md:pt-md pb-6xl px-xs md:px-lg rounded-b-medium bg-surface-primary-invert"
  >
    <picture class="absolute inset-0 z-0">
      <source media="(min-width: 640px)" srcset={desktopBg.src} />
      <img
        src={mobileBg.src}
        alt=""
        role="presentation"
        class="w-full h-full object-cover"
        loading="eager"
        fetchpriority="high"
      />
    </picture>

    <nav class="flex justify-between items-center relative z-10">
      <Image src={logoAmber} alt="Amber Logo" class="h-8 w-auto" />
      <Button text="Pre-order Amber" variant="primary" />
    </nav>

    <div class="md:max-w-6/12 flex flex-col gap-md relative z-10">
      <p class="body-md text-text-primary-invert">
        Designed for distraction-free sleep
      </p>

      <h1 class="title-3xl text-text-primary-invert">Reclaim your rhythm</h1>

      <p class="body-lg text-text-primary-invert">
        Restore your natural rhythm with circadian light and invisible sensing.
        No cameras. No microphones. Just rest.
      </p>

      <Button text="Pre-order Amber" variant="primary" />
    </div>
  </div>
</section>
